@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@{
    ViewData["Title"] = "Admin Dashboard Page";
    // if (@Accessor.HttpContext.Session.GetString("Isheader") == "true")
    // {
    //     Layout = "_AdminHeader";
    // }
    // else Layout = "_AdminHeader";
    Layout = "_AdminHeader";
    
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"> </script>
<style>
    .iti {
        width: 100%;
    }
    #phone, #phone1 {
        height: 58px;
    }
</style>
@* <nav class="bg-white">
    <div class="container-fluid  shadow p-0" style="z-index:1060; padding-left :0px !important;">
        <ul style="padding-left :0px !important;">
            <li>
                <div class=" bg-transparent d-flex">
                    <button class="Logout1 btn showonmobile hide " data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i class="fa-solid fa-bars" style="color: #54d4d3;"></i> </button>
                    <img src="~/OneDrive_2024-01-17/SRS Screen Shorts/backremovelogo.png" alt="" height="100px" width="180">
                </div>
            </li>
            <li class="hideonmobile me-2">Welcome <b> @Accessor.HttpContext.Request.Cookies["Usarname"]</b></li>
            <li>
                <a asp-action="Logout" asp-controller="Home">
                    <button class="btn hideonmobile me-2"
                            style="border:2px solid #54d4d3; color: #54d4d3;">
                        Logout
                    </button>
                </a>
            </li>
            <li>
                <a>
                    <button class="btn showonmobile hide me-2"
                            style="border:2px solid #54d4d3;">
                        <i class="fa-solid fa-arrow-right-from-bracket"
                           style="color: #54d4d3;">
                        </i>
                    </button>
                </a>
            </li>
            <li>
                <button class="moonbtn backtra me-2"><i class="fa-solid fa-moon"></i></button>
            </li>
        </ul>
        <hr>
        <ul class="nav nav-tabs hideonmobile" id="myTab" role="tablist">
            <li class="nav-item purpletri triangle-down" role="presentation">
                <button class="nav-link active border-0 text-muted" id="home-tab" data-bs-toggle="tab"
                        data-bs-target="#home" type="button" role="tab" aria-controls="home"
                        aria-selected="true">
                    <b>Dashboard</b>
                </button>
            </li>
            <li class="nav-item purpletri triangle-down" role="presentation">
                <button class="nav-link text-muted border-0 " id="provider-location-tab" data-bs-toggle="tab"
                        data-bs-target="#providerlocation" type="button" role="tab" aria-controls="providerlocation"
                        aria-selected="false">
                    <b>Provider Location</b>
                </button>
            </li>
            <li class="nav-item purpletri triangle-down" role="presentation">
                <button class="nav-link text-muted border-0 " id="profile-tab" data-bs-toggle="tab"
                        data-bs-target="#profile" type="button" role="tab" aria-controls="profile"
                        aria-selected="false">
                    <b>My Profile</b>
                </button>
            </li>
            <li class="nav-item purpletri triangle-down" role="presentation">
                <button class="nav-link text-muted border-0 " id="providers-tab" data-bs-toggle="tab"
                        data-bs-target="#providers" type="button" role="tab" aria-controls="providers"
                        aria-selected="false">
                    <b>Providers</b>
                </button>
            </li>
            <li class="nav-item purpletri triangle-down" role="presentation">
                <button class="nav-link text-muted border-0 " id="partners-tab" data-bs-toggle="tab"
                        data-bs-target="#partners" type="button" role="tab" aria-controls="partners"
                        aria-selected="false">
                    <b>Partners</b>
                </button>
            </li>
            <li class="nav-item purpletri triangle-down" role="presentation">
                <button class="nav-link text-muted border-0 " id="Accedss-tab" data-bs-toggle="tab"
                        data-bs-target="#access" type="button" role="tab" aria-controls="access"
                        aria-selected="false">
                    <b>Access</b>
                </button>
            </li>
            <li class="nav-item purpletri triangle-down" role="presentation">
                <button class="nav-link text-muted border-0 " id="Records-tab" data-bs-toggle="tab"
                        data-bs-target="#records" type="button" role="tab" aria-controls="records"
                        aria-selected="false">
                    <b>Records</b>
                </button>
            </li>
        </ul>
    </div>
</nav>
<div class="offcanvas offcanvas-start w-50 showonmobile hide bg-light" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Welcome <strong>Test Tests</strong></h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="offcanvasmenu p-2"><a id="dashboardnav" class="text-muted text-decoration-none">Dashboard</a></div>
        <div class="offcanvasmenu p-2"><a id="providerlocationnav" class="text-muted text-decoration-none">ProviderLocation</a></div>
        <div class="offcanvasmenu p-2"><a id="myprofilenav" class="text-muted text-decoration-none">My Profile</a></div>
        <div class="offcanvasmenu p-2"><a id="providernav" class="text-muted text-decoration-none">Providers</a></div>
        <div class="offcanvasmenu p-2"><a id="partnerdnav" class="text-muted text-decoration-none">Partners</a></div>
        <div class="offcanvasmenu p-2"><a id="accessnav" class="text-muted text-decoration-none">Access</a></div>
        <div class="offcanvasmenu p-2"><a id="recordnav" class="text-muted text-decoration-none">Records</a></div>
    </div>
</div> *@
@* <div class="tab-content" id="myTabContent"> *@
<div class="tab-pane fade show active" id="home" role="tabpanel">
        <div class="container-fluid bg-light mt-3">
            <div class="row status-tab d-flex justify-content-xl-center">
               <div class="col-sm-4 col-md-4 col-lg-2 col-4 mb-3" style="padding-left:1px !important;">
                    <button id="new-box" class="statustablinks darkblue w-100 border-0 p-0 text-start">
                        <div class="p-1 rounded" style="border: solid thin #063982; ">
                            <div class="d-flex flex-column">
                                <span>
                                    <small><img src="~/OneDrive_2024-01-17/SRS Screen Shorts/new.png" class="hideonmobile" style="height:30px;" />NEW</small>
                                </span>
                                <span class="h3 fw-bold">@ViewBag.NewCount</span>
                            </div>
                        </div>
                    </button>
                    <div class=" d-flex justify-content-center">
                        <div class="darkbluetri triangle-down"></div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2 col-4" style="padding-left:1px !important;">
                    <button id="pending-box" class="statustablinks lightblue w-100 p-0 border-0 text-start">
                        <div class="p-1 rounded" style="border: solid thin #0AA2C0; ">
                            <div class="d-flex flex-column">
                                <span><small><img src="~/OneDrive_2024-01-17/SRS Screen Shorts/pending.png" class="hideonmobile" style="height:30px;" />PENDING</small></span>
                                <span class="h3 fw-bold"> @ViewBag.PendingCount</span>
                            </div>
                        </div>
                    </button>
                    <div class=" d-flex justify-content-center">
                        <div class="lightbluetri triangle-down"></div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2 col-4" style="padding-left:1px !important;">
                    <button id="active-box" class="statustablinks green w-100 p-0 border-0 text-start">
                        <div class="p-1 rounded" style="border: solid thin #198754; ">
                            <div class="d-flex flex-column">
                                <span><small><img src="~/OneDrive_2024-01-17/SRS Screen Shorts/active.png" class="hideonmobile" style="height:30px;" />ACTIVE</small></span>
                                <span class="h3 fw-bold">@ViewBag.ActiveCount</span>
                            </div>
                        </div>
                    </button>
                    <div class=" d-flex justify-content-center">
                        <div class="greentri triangle-down"></div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2 col-4" style="padding-left:1px !important;">
                    <button id="conclude-box" class="statustablinks pink w-100 p-0 border-0 text-start">
                        <div class="p-1 rounded" style="border: solid thin #AB296A; ">
                            <div class="d-flex flex-column">
                                <span><small><img src="~/OneDrive_2024-01-17/SRS Screen Shorts/33.png" class="hideonmobile" style="height:30px;" />CONCLUDE</small></span>
                                <span class="h3 fw-bold"> @ViewBag.ConcludeCount </span>
                            </div>
                        </div>
                    </button>
                    <div class=" d-flex justify-content-center">
                        <div class="pinktri triangle-down"></div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2 col-4" style="padding-left:1px !important;">
                    <button id="close-box" class="statustablinks blue statustablinks blue w-100 p-0 border-0 text-start">
                        <div class="p-1 rounded" style="border: solid thin #0A58CA; ">
                            <div class="d-flex flex-column">
                                <span><small><img src="~/OneDrive_2024-01-17/SRS Screen Shorts/toclose.png" class="hideonmobile" style="height:30px;" />TO CLOSE</small></span>
                                <span class="h3 fw-bold">@ViewBag.TocloseCount</span>
                            </div>
                        </div>
                    </button>
                    <div class=" d-flex justify-content-center">
                        <div class="bluetri triangle-down"></div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-2 col-4" style="padding-left:0px !important;">
                    <button id="unpaid-box" class="statustablinks purple w-100 p-0 border-0 text-start">
                        <div class="p-1 rounded" style="border: solid thin #8C68CD; ">
                            <div class="d-flex flex-column">
                                <span><small><img src="~/OneDrive_2024-01-17/SRS Screen Shorts/unpaid.png" class="hideonmobile" style="height:30px;" />UNPAID</small></span>
                                <span class="h3 fw-bold">@ViewBag.UnpaidCount</span>
                            </div>
                        </div>
                    </button>
                    <div class=" d-flex justify-content-center">
                        <div class="purpletri triangle-down"></div>
                    </div>
                </div>
            </div>
            <div class="">
                <div id="tableContent" class="table-responsive">
                </div>
            </div>
        </div>
    </div>
@* </div> *@
<footer class="text-center justify-content-center bg-secondary position-fixed w-100 bottom-0">
    <div class="">Terms Of Conditions <div class="vr "></div> Privacy Policy</div>
</footer>
<script>
    const input = document.querySelector("#phone");
    const input2 = document.querySelector("#phone1");
    const button = document.querySelector("#btn");
    const errorMsg = document.querySelector("#error-msg");
    const validMsg = document.querySelector("#valid-msg");

    // here, the index maps to the error code returned from getValidationError - see readme
    const errorMap = ["Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number"];

    // initialise plugin
    const iti = window.intlTelInput(input, {
        initialCountry: "us",
        utilsScript: "/intl-tel-input/js/utils.js?1706723638591"
    });
    const iti1 = window.intlTelInput(input2, {
        initialCountry: "us",
        utilsScript: "/intl-tel-input/js/utils.js?1706723638591"
    });
</script>
<script>
    document.getElementById("Dashboard").classList.add("active");
</script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/Admin/New",
            type: "POST",
            data: { 'id': 1 , 'check' : 0},
            dataType: "html",
            success: function (data) {
                $("#tableContent").html(data);
            },
            error: function () {
                alert("No Projects Found");
                $("#tableContent").html('An error has occurred');
            }
        });
        $('#new-box').click(function () {
            $.ajax({
                url: "/Admin/New",
                type: "POST",
                data: { 'id': 1 , 'check' : 0},
                dataType: "html",
                success: function (data) {
                    $("#tableContent").html(data);
                },
                error: function () {
                    alert("No Projects Found");
                    $("#tableContent").html('An error has occurred');
                }
            });
        });
        $('#pending-box').click(function () {
            $.ajax({
                url: "/Admin/New",
                type: "POST",
                data: { 'id': 2 , 'check' : 0},
                dataType: "html",
                success: function (data) {
                    $("#tableContent").html(data);
                },
                error: function () {
                    alert("No Projects Found");
                    $("#tableContent").html('An error has occurred');
                }
            });
        });
        $('#active-box').click(function () {
            $.ajax({
                url: "/Admin/New",
                data: { 'id': 3 , 'check' : 0},
                type: "POST",
                dataType: "html",
                success: function (data) {
                    $("#tableContent").html(data);
                },
                error: function () {
                    alert("No Projects Found");
                    $("#tableContent").html('An error has occurred');
                }
            });
        });
        $('#conclude-box').click(function () {
            $.ajax({
                url: "/Admin/New",
                type: "POST",
                data: { 'id': 4 , 'check' : 0},
                dataType: "html",
                success: function (data) {
                    $("#tableContent").html(data);
                },
                error: function () {
                    alert("No Projects Found");
                    $("#tableContent").html('An error has occurred');
                }
            });
        });
        $('#close-box').click(function () {
            $.ajax({
                url: "/Admin/New",
                data: { 'id': 5 , 'check' : 0},
                type: "POST",
                dataType: "html",
                success: function (data) {
                    $("#tableContent").html(data);
                },
                error: function () {
                    alert("No Projects Found");
                    $("#tableContent").html('An error has occurred');
                }
            });
        });
        $('#unpaid-box').click(function () {
            $.ajax({
                url: "/Admin/New",
                type: "POST",
                data: { 'id': 6 , 'check' : 0},
                dataType: "html",
                success: function (data) {
                    $("#tableContent").html(data);
                },
                error: function () {
                    alert("No Projects Found");
                    $("#tableContent").html('An error has occurred');
                }
            });
        });
    });

</script>

<script>
    $(document).ready(function () {
        $('.statustablinks').click(function () {
            $('.statustablinks').removeClass('active');
            $(this).addClass('active');
            $('.triangle-down').hide();
            $(this).parent().find('.triangle-down').show();
        });
    });
</script>